extends ../layout

block content
  a(href="/login") Login
  form(method="post", action="/auth/register")
    input(type='text', name="email", placeholder='email')
    input(type='password', name="password", placeholder='password')
    input(type="hidden", name="_csrf", value="#{_csrf}")
    button(type="submit") Register
  if (error)
    div(style="color: red;") Something is incorrect. Try again.
