footer.trash
  .trash__drop
  .trash__content
    .trash__image(href='#delete')
      include trash-icon
    .trash__tooltip
      .trash__tooltip-image
      .trash__tooltip-cover
      span.trash__tooltip-text
        span.trash__tooltip-text-line.trash__tooltip-text-line_large Drop
        span.trash__tooltip-text-line.trash__tooltip-text-line_medium me
        span.trash__tooltip-text-line.trash__tooltip-text-line_small something!
      span.trash__tooltip-text.trash__tooltip-text_alt
        span.trash__tooltip-text-line.trash__tooltip-text-line_large NOM
        span.trash__tooltip-text-line.trash__tooltip-text-line_medium NOM
        span.trash__tooltip-text-line.trash__tooltip-text-line_small NOM
