doctype html
html
  head
    title Server Error
    link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')
  body
    .fivehundred
      .ocean
        .container
      .main
        h1
          | Internal Server Error
        h2
          | Something isn't right here.
      .logo
